* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clear-floats {
    clear: both;
}

body {
    padding-top: 80px;
    background-color: #ededed;
    font-family: sans-serif;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background: white;
    border: 3px solid orange;
    padding: 7px;
    top: 0;
}

nav {
    line-height: 24px;
    float: right;
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
}

nav a:first-of-type {
    border-left: 0
}

nav a {
    color: navy;
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid navy;
    margin-top: 18px;
}

/* main content */

main {
    margin: 50px auto;
    border: 3px solid orange;
    width: 1200px;
    background-color: #ffffff;
}

section {
    padding: 0 25px;
    padding-top: 100px;
    margin-bottom: -50px;
}

section h1 {
    font-size: 36px;
    margin-bottom: 0.75em;
    color: navy;
    text-align: center;
}

.about-text,
.about-image {
    float: left;
}

.about-text {
    width: 70%;
    padding-top: 100px;
}

.about-image {
    width: 20%;
    margin-left: 10%;
}

img {
    width: 100%;
}

.left-images {
    width: 66%;
    float: left;
}

.left-images img {
    height: 400px;
}

.left-images img+img {
    margin-top: -4px;
}

.right-image {
    width: 34%;
    float: right;
}

.right-image img {
    height: 800px;
}

.services-box {
    width: 30%;
    display: inline-block;
    margin-right: 4.6%;
    border: 2px solid navy;
    text-align: center;
    padding: 10px;
    height: 160px;
    vertical-align: top;
}

.services-box:last-child {
    margin-right: 0;
}

.services-box h2 {
    font-size: 36px;
    margin-bottom: 0.7em;
}

section:first-of-type {
    padding-top: 50px;
}

section:last-of-type {
    margin-bottom: 50px;
}

a.top {
    background: navy;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: inline-block;
    padding: 15px;

    text-decoration: none;
}