.navigatie {

    a {
        display: inline-block;
        padding: 5px 15px;
    }

    ul {
        padding: 0;

    }

    &__item {
        display: inline-block;
        position: relative;
        max-height: 20px;
        transition: 0.4s ease all;
    }

    &__submeniu {
        position: absolute;
        top: 20px;
        background-color: rgba(248, 248, 248, 0.4);
        width: 100px;
        max-height: 0px;
        overflow: hidden;
        transition: 1s ease all
    }

    &__item:hover &__submeniu {
        max-height: 200px;
    }


    &__submeniu a {
        color: #222;
        display: block;
    }
}
