$headingFontFamily: 'Open Sans';


div {
    font-family: sans-serif;

    h2 {
        font-family: $headingFontFamily;
    }
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
    font-family: $headingFontFamily;
}

.banner {
    background-image: url('./oradea.jpg');
    padding: 250px 0;
}

.btn-primary {
    background-color: #0072ce;
    border-radius: 25px;
    padding: 2px 14px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: #0066b9;
    }
}

.titlu-oradea {
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    max-width: 100%;
}

article {
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .articol-principal {
        margin-bottom: 20px;
    }
}

// DISPLAY FLEX PART HERE

.code {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    background: #ededed;
}

.flex {
    display: flex;
}

ul.flex {
    list-style: none;
    padding: 0;
    gap: 10px;

    li {
        padding: 10px;
        border: 1px solid red;
    }
}

.flex-ul {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.parinte-800 {
    width: 800px;
    border: 1px solid gray;
    padding: 10px;
}

.flex-align-items {

    height: 130px;
    align-items: center;
    border: 1px solid navy;
    align-items: flex-start;

    &+& {
        align-items: center;

        &+.flex-align-items {
            align-items: flex-end;
        }
    }
}

.flex-justify-content {
    justify-content: space-around;

    &+& {
        justify-content: space-between;
    }

    &+&+& {
        justify-content: space-evenly;
    }
}